html {
    background-size: cover;
    position: relative;
}

body {
    height: auto;
    min-width: 60vw;
    display: flex;
    flex-direction: column;
    /* align-content: space-between;  */
    align-items: center;
    justify-content: space-around;
    background-color: black;
    color: rgb(196, 196, 196);
    font-size: 25px;
    font-weight: bold;
    font-family: sans-serif;
}

.choices {
    justify-self: center;
    display: flex;
    flex: 1;
    align-content: space-between;
    justify-content: center;
    max-width: 60vw;
}

button {
    flex: auto;
    background-color: black;
    color: #ffc600;
    border-color: #ffc600;
    font-size: 25px;
    width: 150px;
    border-radius: 10%;
    display: flex;
}

img {
    flex: 1 0 0;
    max-height: 150px;
    padding: 10px;
    border: 3px solid white;
    border-radius: 10%;
}

.button {
    transition: all 0.3s;
}


.button:hover {
    cursor: pointer;
    scale: 1.1;
}

div {
    flex: auto;
    text-align: center;
}


#winner {
    font-size: 35px;
}

.score {
    display: flex;
    justify-content: space-between;
    margin: auto;
    gap: 35px;
    max-width: 350px;
}

.result_div {
    display: flex;
    flex-direction: column;
    /* gap: 50px; */
} 
